
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>dhis portal</title>
  <%= csrf_meta_tags %>

  <!--link href="css/bootstrap.min.css" rel="stylesheet"-->
  <%= stylesheet_link_tag 'bootstrap/bootstrap'%>

  <!-- Custom CSS -->
  <!--link href="css/thumbnail-gallery.css" rel="stylesheet"-->
  <%= stylesheet_link_tag 'bootstrap/thumbnail-gallery'%>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

      -->
      <style type="text/css">




        * {
          box-sizing: border-box;
        }
        .red{
          border-radius: 0px !important;
        }

        #myInput {

          background-position: 10px 10px;
          background-repeat: no-repeat;
          width: 100%;
          font-size: 16px;
          padding: 12px 20px 12px 40px;
          border: 1px solid #ddd;
          margin-bottom: 12px;
        }



        body{margin-top:50px; background: #F0F0F0}
        .glyphicon { margin-right:10px; }
        .panel-body { padding:0px; }
        .panel-body table tr td { padding-left: 15px }
        .panel-body .table {margin-bottom: 0px; }

        .row-no-padding {
          margin-left: 0;
          margin-right: 0;
          [class*="col-"] {
            padding-left: 0 !important;
            padding-right: 0 !important;
          }
        }

      </style>



    </head>

    <body>

      <!-- Navigation -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background: #1d5288; border:0px; ">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
           <strong class="navbar-brand" style=" color:white;font-family:tohama">DHIS2 ADMIN PORTAL</strong>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">

            
               
               <li><%= link_to "Log out", {:controller => 'sessions', :action => 'logout'} %></li>
             
          

             
         
              

            </ul>
          </div>
          <!-- /.navbar-collapse -->

        </div>
        <!-- /.container -->
      </nav>

      <!-- Page Content -->


      <div class="container" style="background:#F0F0F0; width:100%; margin-top: -65px; padding: 0px">
        <!-- jQuery -->
        <!--script src="js/jquery.js"></script-->
        <%= javascript_include_tag 'bootstrap/jquery' %>
        <!-- Bootstrap Core JavaScript -->
        <!--script src="js/bootstrap.min.js"></script-->
        <%= javascript_include_tag 'bootstrap/bootstrap.min' %>

        <div class="row row-no-padding" style="  padding-left: 0 !important; padding-right: 0 !important;">
          <div class="col-lg-2 col-lg-2" style="background: #F0F0F0; height: 100%;" >
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title" style="padding: 5px;margin-bottom: 10px; font-family: tohama; font-size: 2em">
                    DASHBOARD
                  </h2>






                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                        </span>Reports</a>
                      </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                      <div class="panel-body">
                        <table class="table">
                          <tr>
                            <td>
                              <span class="glyphicon glyphicon-tasks"></span><a href="/report/district_form">Idsr Monthly Report</a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <span class="glyphicon glyphicon-tasks"></span><a href="#">HMIS-15 Report</a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <span class="glyphicon glyphicon-tasks"></span><a href="#">ANC Monthly Report</a>
                            </td>
                          </tr>

                        </table>
                      </div>
                    </div>
                  </div>



                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                        </span>Notifications</a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        <table class="table">
                          <tr>
                            <td>
                              <a href="#">New Reports</a> <span class="label label-primary">12</span>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="Approved Reports">Approved Reports</a> <span class="label label-success">19</span>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="Rejected"> Rejected</a>  <span class="label label-warning">17</span>
                            </td>
                          </tr>

                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                        </span>Account Settings</a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        <table class="table">
                          <tr>
                            <td>
                              <a href="">Change Password</a>
                            </td>
                          </tr>


                          <tr>
                            <td>
                              <span class="glyphicon glyphicon-trash text-danger"></span><a href="" class="text-danger">
                              Delete Account</a>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-10 col-lg-10">
            <div class="well" style="border-radius: 0px; margin: 0px; background: white; min-height: 850px">

              <div id='controls' class='row'>

                <div class='col-lg-12'>
                 
                  
                  <% if !flash[:logged_out].blank? %>
                    <div class="alert alert-warning" role="alert">
                  <span class="" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  <%= flash[:logged_out] %>
                  </div>
                  <% end %> 

                    <% if !flash[:logged_in].blank? %>
                    <div class="alert alert-success" role="alert">
                  <span class="" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  <%= flash[:logged_in] %>
                  </div>
                  <% end %> 
                   <% if !flash[:notice].blank? %>
                    <div class="alert alert-warning" role="alert">
                  <span class="" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  <%= flash[:notice] %>
                  </div>
                  <% end %>
                


                <%= yield %>

              </div> 



              <!-- Footer -->

            </div>
          </div>
        </div>
      </div>





      <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation" style="background: lightgrey; min-height: 30px; border:0px" >
        <div class="container">

          <div class="navbar-header" >

            <p style="text-align: center;">Copyright &copy; Baobab Health Trust &nbsp; <%= Date.today.year %></p>

          </div>

        </div>
      </nav>
      <!-- /.container -->

    </body>

    </html>




